name: Build release and publish on VSCode's Marketplace and OpenVSX
on:
    release:
        types: [published]

permissions:
    contents: read

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
              with:
                  persist-credentials: false

            - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
              with:
                  node-version-file: .nvmrc

            - name: Install dependencies
              run: npm install

            - name: Build the vsix
              run: npx vsce package -o sarif-explorer.vsix

            - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
              with:
                  name: sarif-explorer
                  path: sarif-explorer.vsix

    upload-asset:
        runs-on: ubuntu-latest
        needs: build
        if: success()
        permissions:
            contents: write
        steps:
            - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
              with:
                  name: sarif-explorer

            - name: Add vsix to the release assets
              uses: actions/upload-release-asset@v1.0.2
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ github.event.release.upload_url }}
                  asset_path: sarif-explorer.vsix
                  asset_name: sarif-explorer.vsix
                  asset_content_type: application/octet-stream

    publish:
        runs-on: ubuntu-latest
        needs: build
        if: success()
        steps:
            - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
              with:
                  name: sarif-explorer

            - name: Publish Extension on VSCode's Marketplace
              run: npx vsce publish --pat ${{ secrets.VSCODE_PUBLISHING_TOKEN }} --packagePath sarif-explorer.vsix

            - name: Publish Extension on OpenVSX
              run: npx ovsx publish --pat ${{ secrets.OPENVSX_PUBLISHING_TOKEN }} --packagePath sarif-explorer.vsix
